$font-stack: Helvetica, sans-serif;
$primary-color: #000;

@import 'backbone.marionette.modal';

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: white;
  font-size: large;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($first, $second, $color) {
  -webkit-box-shadow: $first $first $second 0px $color;
  -moz-box-shadow: $first $first $second 0px $color;
  box-shadow: $first $first $second 0px $color;
}

a:link {
  color: #2a5db0;
  text-decoration: none;
}

a:visited {
  color: #2a5db0;
  text-decoration: none;
}

a:hover {
  color: #ccc;
  text-decoration: none;
}

a:active {
  color: #ccc;
  text-decoration: none;
}

.withings {
  padding-bottom: 10px;
}

.plain-link {
  text-decoration: none;
}

.transparent {
  opacity: 0;
}

.paddedthing {
  padding: 6px 12px;
  position: relative;
}

.badge {
  position: absolute;
  bottom: 2px;
  right: 2px;
  background: grey;
  text-align: center;
  line-height: 16px;
  font-size: 11px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  color: white;
}

.settings_gear {
  color: #2a5db0;
  cursor: pointer;
}

.settings_gear:hover {
  color: #ccc;
 }

.playlist-thumb {
    width: 48px;
    height: 48px;
    vertical-align: middle;
    //padding-bottom: 12px;
    padding-right: 5px;
}

.playlist {
    cursor: pointer;
    .playlist-name {
      font-size: 28px;
    }
}

.selected {
  //padding: 10px;
  //border: 9px solid #000000;
  background-color: #b4ecb4;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  //display: inline-block;
}

.save {
  font-size: 16px;
  color: #2a5db0;
  cursor: pointer;
}

.cancel {
  font-size: 16px;
  color: red;
  cursor: pointer;
}

.center {
  text-align: center !important;
}