<form method="POST" action="https://discoverindefinitely.com/login">
    <input type="hidden" name="app_base_url" value="<%-window.location%>">
    <input type="submit" value="Login with Spotify">
</form>