<h1>Settings</h1>
<% if (!noPlaylists()) { %>
<h3>Select your source playlist:</h3>
<% } %>
<ul class="source_playlists"></ul>
<% if (noPlaylists()) { %>
<div> You have to follow your "Discover Weekly" in Spotify, then refresh and it will show up here.</div>
<% } else { %>
<% if (sourcePlaylistSaved()) { %><a class="cancel">Cancel</a><% } %> <a class="save">Save</a>
<% } %>